extends sidebar.pug
block scripts
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel="stylesheet" href="/stylesheets/flashcards.css")

block content
    h1= message
    button(id="max_page" hidden value= max)
    a(class="number_per_page" href="/flashcards/entries=5") 5
    a(class="number_per_page" href="/flashcards/entries=10") 10

    br
    a(class="next_page" href="#") Next
    a(class="previous_page" href="#") Previous

    ul
        each val in values= values
            div(id=val.word)
                li= val.word
                div=val.translation
                div=val.example
                form(method="get" action="edit/" + val.word)
                    button(value= val.word class="edit_flashcard") edit
                form(method="get" action="delete/" + val.word)
                    button(value= val.word class="delete_flashcard" type="submit") delete
            br
    a(class="next_page" href="#") Next
    a(class="previous_page" href="#") Previous
    script(src="/js/flashcards.js")